.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    border-radius: 60px;
    background: #841dd3ac;
    margin-bottom: 10px;
}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
    padding: 20px;
}

.footer ul li {
    font-size: 34px;
}