footer {
    position: fixed;
    bottom: 0;
    width: 90%;
    height: auto;
    border-radius: 60px;
    background: rgba(000, 000, 000, 0.5);
    margin: 15px;
    overflow: hidden;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
    padding: 2rem;
}

footer ul li {
    font-size: 30px;
}