/*전체 css 연결 */
@import url(../css/header.css);
@import url(../css/footer.css);

/* 웹 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Permanent+Marker&display=swap');

body {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(131, 29, 211, 1) 200%);
    font-family: 'Noto Sans KR', sans-serif;

}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

/* 공통 섹션 */
.section {
    width: 100%;
    height: 100vh;
}

main {
    padding-top: 13rem;
}