/*전체 css 연결 */
@import url(../css/header.css);
@import url(../css/footer.css);

body {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(131, 29, 211, 1) 200%);
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

/* 공통 섹션 */
.section {
    width: 100%;
    height: 100vh;
}

.main_wrap {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
}

/* 오늘의 bgm */
.bgm_warp .bgm_title {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -1px;
    text-align: center;
    display: block;
}

.bgm_warp .bgm_title em {
    font-size: 20px;
    animation: txtmove 1s infinite;
    animation-iteration-count: 3;
}

@keyframes txtmove {
    from {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(10deg);
    }
}

.bgm_list {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 20px;
}

/* 앨범사진 1 */
.bgm_list img:nth-child(1) {
    width: 50%;
    height: auto;
    text-align: left;
    position: absolute;
    border-radius: 20px;
    z-index: 2;
    top: 10px;
    left: 65px;
}

/* LP사진 2 */
.bgm_list img:nth-child(2) {
    position: absolute;
    width: 50%;
    height: auto;
    z-index: 1;
    top: 20px;
    right: 45px;
    animation: rotate 1s linear infinite;
}

/* LP 무한루프 */
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* 인기차트 */
.best_wrap {
    padding-top: 230px;
    display: flex;
    flex-direction: column;
}

.best_wrap .best_title {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
    display: block;
    letter-spacing: -1px;
}

.best_wrap .best_title em {
    font-size: 18px;
}

.best_wrap .best_list {
    padding: 15px;
}

.best_wrap .best_list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.best_wrap .best_list ul li {
    width: 15%;
}