/* 웹 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Permanent+Marker&display=swap');

body {
    width: 100%;
    word-break: keep-all;
    overflow-x: hidden;
    font-family: 'Permanent Marker', 'Hahmlet', cursive;
    /* font-family: 'Hahmlet', serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Permanent Marker', cursive; */
}

html,
body,
blockquote,
hr,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
table,
th,
td,
article,
section,
figure,
form,
fieldset,
legend,
label,
input,
select,
textarea,
button,
ul,
ol,
li,
dl,
dt,
dd,
p,
pre {
    margin: 0;
    padding: 0;
}

ul,
li,
a {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    cursor: pointer;
}

button,
input,
table,
textarea {
    font-family: inherit;
    border: 0;
}

fieldset,
iframe {
    border: 0;
}

address,
em {
    font-style: normal;
}

img {
    cursor: pointer;
    height: auto;
    width: 100%;
}