/* 웹 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Permanent+Marker&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    width: 100%;
    word-break: keep-all;
    overflow-x: hidden;
    font-family: 'Permanent Marker', 'Hahmlet', cursive;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(131, 29, 211, 1) 200%);
    /* font-family: 'Hahmlet', serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Permanent Marker', cursive; */
}

/* 공통 섹션 */
.section {
    width: 100%;
    height: 100%;
}

html,
body,
blockquote,
hr,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
table,
th,
td,
article,
section,
figure,
form,
fieldset,
legend,
label,
input,
select,
textarea,
button,
ul,
ol,
li,
dl,
dt,
dd,
p,
pre {
    margin: 0;
    padding: 0;
}

ul,
li,
a {
    color: inherit;
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    cursor: pointer;
}

button,
input,
table,
textarea {
    font-family: inherit;
    border: 0;
}

fieldset,
iframe {
    border: 0;
}

address,
em {
    font-style: normal;
}

img {
    cursor: pointer;
    height: auto;
    width: 100%;
}